{% extends "base.html" %}

{%- block content -%}

    {% if lang == "it" -%}
        {% set months = [
            "gennaio", "febbraio", "marzo", "aprile", "maggio", "giugno",
            "luglio", "agosto", "settembre", "ottobre", "novembre", "dicembre"
           ]
        %}
    {%- endif -%}

    <section class="blog">
        <div class="container">
            {% if paginator -%}
               {%- set pages = paginator.pages -%}
            {%- else -%}
               {%- set pages = section.pages -%}
            {%- endif -%}
            {%- for page in pages -%}
            <div class="blog-post">
                <h2><a href="{{ page.permalink | safe }}">{{ page.title | markdown(inline=true) | safe }}</a></h2>
                <div class="date">
                    {% if lang == "it" -%}
                        {% set month_index = page.date | date(format="%m") | int - 1 %}
                        {{ page.date | date(format="%d") }}
                        {{ months[month_index] }}
                        {{ page.date | date(format="%Y") }}
                    {%- else -%}
                        {{ page.date | date(format="%B %d, %Y") }}
                    {%- endif -%}
                </div>
                <div class="excerpt">
                    <p>{{ page.description | markdown(inline=true) | safe }}</p>
                </div>
                <a href="{{ page.permalink | safe }}" class="read-more">{{ section.extra.read_more }} →</a>
            </div>
            {%- endfor -%}

            {% if paginator and paginator.number_pagers > 1 %}
            <nav class="paginator">
                {% if paginator.previous -%}
                <a href="{{ paginator.previous | safe }}">
                    <span class=arrow>&lt;</span>
                    {{ section.extra.previous }}
                </a>
                {% else -%}
                <span class="disabled">
                    <span class="arrow">&lt;</span>
                    {{ section.extra.previous }}
                </span>
                {% endif -%}
                <span class="page-info">{{ paginator.current_index }} {{ section.extra.of }} {{ paginator.number_pagers }}</span>
                {% if paginator.next -%}
                <a href="{{ paginator.next | safe }}">
                    {{ section.extra.next }}
                    <span class="arrow">&gt;</span>
                </a>
                {%- else -%}
                <span class="disabled">
                    {{ section.extra.next }}
                    <span class="arrow">&gt;</span>
                </span>
                {% endif %}
           </nav>
           {%- endif %}
        </div>
    </section>
{%- endblock %}
